<!--
<head>	
	<script type="text/javascript">
	$(function() {
		$("#draggable").draggable();
	});
	</script>
</head>

<div class="demo">
	<div id="draggable" class="ui-widget-content">
		<p>Drag me around</p>
	</div>
</div>
-->

<% for screenshot in @documentation.screenshots %>
	<%= image_tag screenshot.data.url(:original), :alt => "", :width => "785" %> <br /><br />
<% end %>
