<!--
<button id="bttn" onclick="addAnotation()">Clicky!</button>
<div id="draggable"><p>Drag me to hell</p></div>
<div id="whitebox"></div>
<div id="droppable"><p>This is Hell</p></div>
-->
<% for screenshot in @documentation.screenshots %>
  <%= image_tag screenshot.data.url(:original), :alt => "", :width => "785" %> <br /><br />
<% end %>
