<%= f.error_messages %>
<%= f.hidden_field :user_id, :value=>"#{session[:user_id]}"%>
<p>
  <%= f.hidden_field :title, :value=> nil %>
</p>
<p>
  <%= f.hidden_field :description,  :value=> "Dox Description"%>
</p>
