<div id="all_dox2">
<div id="all_dox">
	<% @documentations.each do |documentation| %>
		<% @creator = User.find(documentation.user_id) %>
		<div id="dox_list">
			<b><dt><%= link_to "#{documentation.title}", documentation %></dt></b>
			<i>by: <%=h @creator.name %></i>
			<dd><%=h truncate(documentation.description.gsub(/<.*?>/,''), :length => 150) %></dd><br />
		</div>
	<% end %>
</div>
</div>
