<div id="content_container2">
<div id="content_container">
	<div id="about_dox">
  <br /> 
    <h2>New documentation</h2>
      <% form_for @documentation, :html => { :multipart => true } do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>                
        <%= f.submit "Create" %>
      <% end %>

      <%= link_to 'Back', documentations_path %>
	</div>
</div>
</div>
