label {  
   display: block;  
   float: left;  
   width: 100px;
   padding: 4px 5px;  
   border: 2px solid #037;  
   background: #06a;  
   color: #fff;  
   font-family: Verdana, sans-serif;   
   font-size: 12px;  
   margin-bottom: 5px;  
   font-weight: bold;  
   clear: both;  
   text-align: right;
   text-shadow: 0px -1px 0px black;
   
  -moz-border-radius-topleft:1ex;
  -moz-border-radius-bottomleft:1ex;
  -webkit-border-top-left-radius:1ex;
  -webkit-border-bottom-left-radius:1ex; 
}
   
input {
   background: #fff;  
   border: 2px solid #037;  
   /*border-left: 0px;*/
   padding: 5px 5px;
   margin-top: 0;  
   margin-bottom: 5px;  
   
  -moz-border-radius-topleft:1ex;
  -moz-border-radius-bottomleft:1ex;
  -webkit-border-top-left-radius:1ex;
  -webkit-border-bottom-left-radius:1ex; 
  -moz-border-radius-topright:1ex;
  -moz-border-radius-bottomright:1ex;
  -webkit-border-top-right-radius:1ex;
  -webkit-border-bottom-right-radius:1ex; 
}

text_field {
   background: #fff;  
   border: 2px solid #037;  
   padding: 5px 5px;  
   margin-top: 0;  
   margin-bottom: 5px;
   
  -moz-border-radius-topright:1ex;
  -moz-border-radius-bottomright:1ex;
  -webkit-border-top-right-radius:1ex;
  -webkit-border-bottom-right-radius:1ex;
  -moz-border-radius-topleft:1ex;
  -moz-border-radius-bottomleft:1ex;
  -webkit-border-top-left-radius:1ex;
  -webkit-border-bottom-left-radius:1ex; 
}

text_area {
   	height:100px;
	float: left;
	width: 800px;
	background: #fff;  
	border: 2px solid #037;  
	padding: 5px 5px;  
	margin-top: 0;  
	margin-bottom: 5px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	   
  -moz-border-radius-topright:1ex;
  -moz-border-radius-bottomright:1ex;
  -webkit-border-top-right-radius:1ex;
  -webkit-border-bottom-right-radius:1ex;
  -moz-border-radius-topleft:1ex;
  -moz-border-radius-bottomleft:1ex;
  -webkit-border-top-left-radius:1ex;
  -webkit-border-bottom-left-radius:1ex;
}

.buttonTo {
   background: #06a;  
   color: #fff;
   border: 2px solid #037;  
   font-size: 12px;  
   font-weight: bold;
   text-shadow: 0px -1px 0px black;
   margin-left: 0px;  
   padding: 5px 10px; 
   
  -moz-border-radius-topleft:1ex;
  -moz-border-radius-bottomleft:1ex;
  -webkit-border-top-left-radius:1ex;
  -webkit-border-bottom-left-radius:1ex; 
  -moz-border-radius-topright:1ex;
  -moz-border-radius-bottomright:1ex;
  -webkit-border-top-right-radius:1ex;
  -webkit-border-bottom-right-radius:1ex; 
}

.buttonTo:hover {
  background: #3c6cb4; 
}