#controls{
  border: 2px solid gray;
  position: fixed; top: 10px; left: 5px;
  background: transparent;
  display: inline;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 8px;
  margin-right: 2px;
  z-index: 5;
  
  -moz-border-radius-topleft:1ex;
  -moz-border-radius-topright:1ex;
  -webkit-border-top-left-radius:1ex;
  -webkit-border-top-right-radius:1ex;
  -moz-border-radius-bottomleft:1ex;
  -moz-border-radius-bottomright:1ex;
  -webkit-border-bottom-left-radius:1ex;  
  -webkit-border-bottom-right-radius:1ex; 
}

.controls{
  background: #333;
  height: 45px;
}

.controls ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.controls li{
  float: left;
  list-style: none;
  border-right: 1px solid #4a4a4a;
  border-left: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
  height: 40px;
  padding-top: 5px;
}

.controls li:hover{
 height: 100%;
 background: -moz-linear-gradient(top, #0b2b61, #1153c0);
 background: -webkit-gradient(linear, left top, left bottom, from(#0b2b61), to(#1153c0));
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 -moz-box-shadow: 2px 3px 10px #011331;
 -webkit-box-shadow: 2px 3px 10px #011331;
}

.controls li:active {
 background: white;
}

.controls li#control:hover{
  background: inherit;
}

#about_dox{
  background: #92b7d3;
  padding: 10px;
  border-bottom: 2px solid black;
}

.about_dox#title {
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-shadow: 0px 1px 0px #e1e1e8;
  line-height: 26px;
  font-family: Arial;
}

.about_dox#author {
  font-size: 12px;
  text-shadow: 0px 1px 0px transparent;
  font-weight: normal;
}

.about_dox#info{
  overflow: auto;
  min-height: 100px;
  text-shadow: 0px .08em 0px #e1e1e8;
  font-family: Arial;
}

.content{
  float: left;
  min-height: 700px;
}

#screenie_area{
  background: white;
  padding: 5px;
  width: 810px;
  overflow: auto;
  border-right-style:solid;
}

#lessons_area{
  background: transparent;
  padding: 5px;
  width: 267px;
  overflow: auto;
}

#mode_button {
  width: 50px;
  border: .15em solid #40d0d4;
  background: #abf2f2;
  font: Arial;
  font-size: 15px;
  font-weight: normal;
  color: black;
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: center;
  
  -moz-border-radius-topleft:2ex;
  -moz-border-radius-topright:2ex;
  -webkit-border-top-left-radius:2ex;
  -webkit-border-top-right-radius:2ex;
  -moz-border-radius-bottomleft:2ex;
  -moz-border-radius-bottomright:2ex;
  -webkit-border-bottom-left-radius:2ex;  
  -webkit-border-bottom-right-radius:2ex; 
  
  -moz-box-shadow: 1px 1px 4px gray;
  -webkit-box-shadow: 1px 1px 4px gray;
  box-shadow: 1px 1px 4px gray;
}

#mode_button:hover {
  background: #96e4e4;
}