a:link {text-decoration:none; color: #fff;}
a:visited {text-decoration:none; color: #fff;}
a:hover {text-decoration:underline;}
a:active {text-decoration:none;}

body
{
	background: #333;
	margin:0; 
	padding:0; 
	color: #fff;
	font-family: verdana, arial, helvetica, sans-serif;
  font-size: 2em;
  line-height: 18px;
}

#footer
{
  /*border-top: 1px solid gray;*/
  color: #fff;
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#header
{
	background: #333;
	height: 70px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#content
{
  
	background: #00bfff;
	width: 100%;	
}

.menu{
  height: inherit;
  background: #333;
	width: 800px;
	margin: 0 auto;
	text-align: right;
}

.menu ul{
  list-style: none;
}

.menu li{
  display: inline;
  padding-left:7px;
}

/* Styles for flash message */
#notice {
  padding-top: .3em;
  background: inherit;
  color: #fff;
  font: bold small sans-serif;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}
/* end */



