a:link {text-decoration:none; color: #fff;}
a:visited {text-decoration:none; color: #fff;}
a:hover {text-decoration:underline;}
a:active {text-decoration:none;}

html {
  background:url("/images/html_bg.png") repeat-x scroll 0 0 #5F5F5F;
  overflow-y:scroll;
}

body
{
  /*background: url("/images/fade.jpg") repeat-x scroll 0 0 white;*/
  background:url("/images/body_bg.jpg") no-repeat scroll center top transparent;
  margin:0;
  padding:0; 
  color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 2em;
  line-height: 18px;
}

#footer
{
  /*border: 3px solid #11103c;*/
  background: #2a4f7e;
  width: 1114px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 1px 5px 0px 5px;
  padding-top: 10px;
  padding-bottom: 10px;
/*
  -moz-border-radius-topleft:4ex;
  -moz-border-radius-topright:4ex;
  -webkit-border-top-left-radius:4ex;
  -webkit-border-top-right-radius:4ex;
*/ 
  -moz-border-radius-bottomleft:1ex;
  -moz-border-radius-bottomright:1ex;
  -webkit-border-bottom-left-radius:1ex;  
  -webkit-border-bottom-right-radius:1ex; 
}

#top_wrap {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#always_top {
	background: #333;
	padding-top:10px;
	height: 30px;
	width: 168px;
	padding-left: 15px;
	
	-moz-border-radius-bottomright:1ex;
	-moz-border-radius-bottomleft:1ex;
	-webkit-border-bottom-right-radius:1ex;
	-webkit-border-bottom-left-radius:1ex; 
}

#header
{
  background: transparent;
  height: 90px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#content {
  background: transparent;
  width: 100%;	
}

.menu {
  height: inherit;
  background: transparent;
  width: 800px;
  margin: 0 auto;
  text-align: right;
}

.menu ul {
  list-style: none;
}

.menu li {
  display: inline;
  padding-left:7px;
}

/* Styles for flash message */
#notice {
  border: 2px solid red;
  padding-top: .3em;
  padding-bottom: .3em;
  background: #d29393;
  width: 700px;
  color: #fff;
  font: bold small sans-serif;
  text-align: center;
}
/* end */