/* LAYOUT FOR DOCUMENTATIONS (edit & show)
  => HEADER
  => CONTAINER
  => FOOTER
  

  dapat changed na ang name! 
*/

a:link {text-decoration:none; color: #fff;}
a:visited {text-decoration:none; color: #fff;}
a:hover {text-decoration:underline;}
a:active {text-decoration:none;}

#header{
  background: black;
  padding: 0px 0px 0px 10px;
  height: 40px;  
}

.menu{
  background: transparent;
  float: right;
  width: 300px;
}
.menu ul{
  list-style: none;
}

.menu li{
  display: inline;
}

#container{
  width: 100%;
  background: #333;
}

#footer{
  text-align: center;
  background: black;
  width: 100%;
}

#content 
{
  background: transparent;
  color: #333;
  padding: 20px;
}

#content a:link, 
#content a:visited { 
 color: #333;  
} 

.main_content{
  display: inline-block;
}

