body {
	background: #333;
	margin:0000; 
	padding:0000; 
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
  	font-size:   15px;
  	line-height: 18px;
}


/* Styles for flash message */
#notice {
  	
  	padding-top: .2em;
  	background-color: #f0f0f0;
  	font: bold smaller sans-serif;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}
/* end */

#banner {
	/*padding-top: 10px;*/
	padding-top: 1em;
	margin-right: auto;
	margin-left: auto;
	padding-left: 5px;
	padding-right: 5px;
	width: 800px;
}

#main {
	border: 5px solid gray;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
	background: #4aa1d3;
	padding-bottom: 5em;
	padding-top: 0.1px;
	padding-left: 7px;
	padding-right: 7px;
}

#menu {
	border: 5px solid gray;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: .2em;
	padding-bottom: .2em;
	margin-bottom: .5em;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
	background: #4aa1d3;
}

#extlinks
{
	text-align: center;
	padding-top: 10px;
	color: #FFFFFF;
	font-family: "Arial", serif;
	font-size: 15px;
}
/*Style for show_users*/
#user-list table {
        border-collapse: collapse;
}

#user-list table tr td {
        padding: 3px;
        vertical-align: top;
}

#user-list .list-names {
  width:        100%;
}

#user-list .list-names dl {
        margin: 2;
}

#user-list .list-names dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#user-list .list-names dd {
        margin: 0;
}

#user-list .list-actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#user-list .list-line-even {
  background:   #a9bbcb;
}

#user-list .list-line-odd {
  background:   #87a8c5;
/*end*/
		 
#label, #input { display:block; }

#input.text { margin-bottom:12px; 
				 width:95%; 
				 padding: .4em; 
}

#fieldset { padding:0; 
			  border:0; 
			  margin-top:25px; 
}

#users-contain { width: 350px; margin: 20px 0; }
#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }

#.ui-dialog .ui-state-error { padding: .3em; }
#.validateTips { border: 1px solid transparent; padding: 0.3em; }

