#content
{
	background: gray;
	width: 100%;	
}

#main_content
{
  background: inherit;
  color: #333;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3px;
  padding-right: 3px;
  width: 1130px;
}

#main_content a:link, 
#main_content a:visited { 
 color: #333;  
} 

#about_dox{
  padding: 5px 0px 0px 0px;
  margin: 0px;
  background: white;
  color: black;
  width: 800px;
}

.about_dox#title{
  float: left;
}

.about_dox#author{
  float: right;
  font-size: 10px;
}

.about_dox#info{
  float: left;
  clear: both;
}

#controls_area{
  background: #333;
  color:  #00bfff;
  padding: 0px 15px 10px 10px;
  margin-right: 2px;
  width: 500px;
}

.controls {
  /* to make round corners */
  -moz-border-radius-bottomleft:2ex;
  -moz-border-radius-bottomright:2ex;
  -webkit-border-bottom-left-radius:2ex;
  -webkit-border-bottom-right-radius:2ex;
}

.controls ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.controls li{
  display: inline;
  padding-left: 3px;
}

.main_content
{
  display: inline-block;
}

#screenie_area{
  background: white;
  color: #333;
  margin-top: 5px;
  padding: 5px;
  width: 800px;
  height: 600px;
  overflow: auto;
}

#lessons_area{
  background: white;
  color: #333;
  padding: 5px;
  width: 300px;
  height: 600px;
  overflow: auto;
}

h1 h2 h3 h4 h5
{
  margin: 0px;
  padding: 0px;
}

button {
  float: right;
  border: 0 none;
  cursor: pointer;
  font-weight: bold;
  padding: 0 15px 0 0;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: auto;
}

button.rounded {
  background: transparent url( /images/btn_right.png ) no-repeat scroll right top;
  clear: left;
  font-size: 0.8em;
}

button span {
  display: block;
  padding: 0 0 0 15px;
  position: relative;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
}

button.rounded span {
  background: transparent url( /images/btn_left.png ) no-repeat scroll left top;
  color: #FFFFFF;
}

button.rounded:hover {
  background-position: 100% -30px;
}

button.rounded:hover span {
  background-position: 0% -30px;
}

button::-moz-focus-inner {
  border: none;
}

/*Style for show_users*/
#user-list{
  padding: 10px;
  background: #FFF;
  width: 90%;
  
}
#user-list table {
  border-collapse: collapse;
}

#user-list table tr td {
  padding: 3px;
  vertical-align: top;
}

#user-list .list-names {
  width: 100%;
}

#user-list .list-names dl {
  margin: 2px;
}

#user-list .list-names dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#user-list .list-names dd {
  margin: 0px;
}

#user-list .list-actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#user-list .list-line-even {
  background: #a9bbcb;
}

#user-list .list-line-odd {
  background: #87a8c5;
/*end*/
}
