/* CONTENT FOR DOCUMENTATIONS (edit & show)
  => control panel
  => screenie area
  => lessons area

  dapat changed na ang name! 
*/
#controls{
  position: absolute; top: 0px; left: 1px;
  display: inline;
  background: transparent;
  color:  #00bfff;
  padding: 5px 15px 5px 10px;
  margin-right: 2px;
  width: 500px;
  
    /* to make round corners */
  -moz-border-radius-bottomleft:2ex;
  -moz-border-radius-bottomright:2ex;
  -webkit-border-bottom-left-radius:2ex;
  -webkit-border-bottom-right-radius:2ex;
}

.controls ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.controls li{
  display: inline;
  padding-left: 5px;
}

#about_dox{
  padding: 10px;
  background: transparent;
  color: black;
  
  /* to make round corners */
  -moz-border-radius-topleft:2ex;
  -moz-border-radius-topright:2ex;
  -webkit-border-top-left-radius:2ex;
  -webkit-border-top-right-radius:2ex;
}

.about_dox#title{
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
}

.about_dox#author{
  font-size: 12px;
}

.about_dox#info{
  clear: both;
  overflow: auto;
}

#separator{
  background: black;
  color: gray;
  width: 100%;
  height: 10px;
}

#screenie_area{
  background: gray;
  color: #333;
  margin-top: 5px;
  padding: 5px;
  width: 60%;
  height: 100%;
  min-width: 800px;
  overflow: auto;
}

#lessons_area{
  background: gray;
  color: #333;
  padding: 5px;
  width: 30%;
  height: 100%;
  overflow: auto;
  min-width: 500px;
}


