#content
{
	background: gray;
	width: 100%;	
}

#main_content
{
  background: inherit;
  color: #333;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3px;
  padding-right: 3px;
  width: 1130px;
}

#main_content a:link, 
#main_content a:visited { 
 color: #333;  
} 

#dox_title{
  padding: 5px 0px 0px 0px;
  margin: 0px;
  background: white;
  color: black;
  width: 800px;
  line-height: 28px;
}

#controls_area{
  background: #333;
  color:  #00bfff;
  padding: 6px;
  margin-right: 2px;
  width: 500px;
}

.controls {
  /* to make round corners */
  -moz-border-radius-bottomleft:2ex;
  -moz-border-radius-bottomright:2ex;
  -webkit-border-bottom-left-radius:2ex;
  -webkit-border-bottom-right-radius:2ex;
}

.controls ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.controls li{
  display: inline;
  padding-left: 3px;
}

.main_content
{
  display: inline-block;
}

#screenie_area{
  background: white;
  color: #333;
  margin-top: 5px;
  padding: 5px;
  width: 800px;
  height: 600px;
  overflow: auto;
}

#lessons_area{
  background: white;
  color: #333;
  padding: 5px;
  width: 300px;
  height: 600px;
  overflow: auto;
}

/*Style for show_users*/
#user-list{
  padding: 10px;
  background: #FFF;
  width: 90%;
  
}
#user-list table {
  border-collapse: collapse;
}

#user-list table tr td {
  padding: 3px;
  vertical-align: top;
}

#user-list .list-names {
  width: 100%;
}

#user-list .list-names dl {
  margin: 2px;
}

#user-list .list-names dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#user-list .list-names dd {
  margin: 0px;
}

#user-list .list-actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#user-list .list-line-even {
  background: #a9bbcb;
}

#user-list .list-line-odd {
  background: #87a8c5;
/*end*/
}
