body
{
	background: #333;
	color: #FFFFFF;
	margin:0;
	padding:0;
	font-family: Arial;
}

#header
{
	background: transparent;
	height: 150px;
	width: 100%;
	position: absolute; top:0px;
}

#banner
{
  position: absolute; top: 6%; right: 1%;
}

#content
{
	background: #333;
	width: 100%;
	position: absolute; top: 150px;
}

#main_content
{
  background: #00BFFF;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

#screenie_area{
  background: transparent;
  color: #000;
  padding: 1%;
  width: 64%;
  position: relative; left:0%;
  overflow: auto;
}

#lessons_area{
  background: transparent;
  color: #000;
  padding: 1%;
  width: 30%;
  position: absolute; top: 0%; left: 67%;
  overflow: auto;
}

/*Style for show_users*/
#user-list{
  padding: 10px;
  background: #FFF;
  width: 90%;
  
}
#user-list table {
  border-collapse: collapse;
}

#user-list table tr td {
  padding: 3px;
  vertical-align: top;
}

#user-list .list-names {
  width: 100%;
}

#user-list .list-names dl {
  margin: 2;
}

#user-list .list-names dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#user-list .list-names dd {
  margin: 0;
}

#user-list .list-actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#user-list .list-line-even {
  background: #a9bbcb;
}

#user-list .list-line-odd {
  background: #87a8c5;
/*end*/
