#content {
	background: transparent;
	width: 100%;	
}

#main_content {
	background: #92b7d3;
	width: 700px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	text-align: justify;
	text-shadow: 0px 1px 0px #cce3f5;
	color: black;
	
	-moz-border-radius-topleft:1ex;
	-webkit-border-top-left-radius:1ex;
	-moz-border-radius-topright:1ex;
	-webkit-border-top-right-radius:1ex;
	
	-moz-box-shadow: 3px 3px 4px black;
	-webkit-box-shadow: 3px 3px 4px black;
	box-shadow: 3px 3px 4px black;
}

#footer {
	/*border-top: 5px solid #11103c;*/
	background: #2a4f7e;
	width: 700px;
	height: 40px;
	text-align: center;
	color: black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
	padding-left: 30px;
	padding-top: 8px;
	padding-right: 30px;
	
	-moz-box-shadow: 3px 3px 4px black;
	-webkit-box-shadow: 3px 3px 4px black;
	box-shadow: 3px 3px 4px black;
}

#dox_list {
  width: 800px;
  background: transparent;
  border-bottom: 1px solid gray;
  border-left: 0px;
  border-right: 0px;
  width: 650px;
  padding: 10px 10px 10px 10px;
}

#dox_list:hover {
  background: #b9d6f4;
}

.dox_list#menu {
  color: white;
  text-shadow: 0px 1px 0px transparent;
}

/*Style for show_users*/
#user-list table {
        border-collapse: collapse;
}

#user-list table tr td {
        padding: 3px;
        vertical-align: top;
}

#user-list .list-names {
  width:        100%;
}

#user-list .list-names dl {
        margin: 2;
}

#user-list .list-names dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#user-list .list-names dd {
        margin: 0;
}

#user-list .list-actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#user-list .list-line-even {
  background:   #a9bbcb;
}

#user-list .list-line-odd {
  background:   #87a8c5;
/*end*/
		 
#label, #input { display:block; }

#input.text { margin-bottom:12px; 
				 width:95%; 
				 padding: .4em; 
}

#fieldset { padding:0; 
			  border:0; 
			  margin-top:25px; 
}

#users-contain { width: 350px; margin: 20px 0; }
#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }

#.ui-dialog .ui-state-error { padding: .3em; }
#.validateTips { border: 1px solid transparent; padding: 0.3em; }

