<ul>
  <li> <%= link_to 'Home', :controller => 'admin', :action => 'index' %> | </li>
  <li> <%= link_to 'Users', :controller => 'admin', :action => 'show_users' %> | </li>
  <li> <%= link_to 'Logout', :controller => 'admin', :action => 'logout' %>  </li>
  <li> <%= link_to image_tag("goweedox.png", :border=>0), :action => 'admin', :action => 'index' %> </li>
</ul>
   
