<div class="goweedox-form">
    
  <% form_tag do %>
    <fieldset>
      <legend>User Log In</legend>

      <div>
        <label for="name">Name</label>
        <%= text_field_tag :name, params[:name], :size => 30 %>
      </div>
			<br />
      <div>
        <label for="password">Password</label>
        <%= password_field_tag :password, params[:password], :size => 30 %><br />
      </div>
  
      <div>
        <button type="submit">Submit</button>
      </div>
    </fieldset>
  <% end %>
</div>
